@charset "utf-8";
/* CSS Document */

#chat-room-menu{
	background-color:#606060;
}

.dialog-content{
	background-color:#eaeaea;
	height : 650px;
	vertical-align : top;
}

#dialog-div{
	overflow-y:scroll;
	height:650px;
	width:100%;
}

.dialog-ul{
	list-style: none;
}

.dialog-li{
	float:left;	
	clear:both;
}

.dialog-img-td{
	vertical-align:top;
}

.img-dialog{
	width:60px;
	height:60px;
	float:left;
	border-radius:7px;
}

.speaker-name-td{
	color:black;
	font-family:NanumSquare;
	font-size:15px;
}

.talk-td{
	background-color:white;
	color:black;
	font-family:NanumSquare;
	font-size:14px;
	width:160px;
	padding:15px;
	border-radius:7px;
	box-shadow:2px 4px 5px grey;
}

.dialog-li-own{
	float:right;
	clear:both;
}

.dialog-table-own{
	margin-top:20px;
	margin-right:20px;
}

.talk-td-own{
	background-color:#3cb6de;
	color:white;
	font-family:NanumSquare;
	font-size:14px;
	width:160px;
	padding:15px;
	border-radius:7px;
	box-shadow:2px 4px 5px grey;
}
.dialog-enter-td{
	height : 100px;
	background-color:white;
}

#dialog-enter{
	padding-left:10px;
	width:98%;
	height:98%;
	font-size:20px;
	vertical-align:middle;
	display:inline-block;
}

.send-btn-td{
	width : 100px;
	vertical-align:central;
	text-align:center;
	background-color:white;
}

#send-btn{
	width:100%;
	height:100%;
	background-color:#5d5d5d;
	color : white;
	font-family:NanumSquare;
	font-size:23px;
	border: 0;
	box-shadow:none;
	cursor : pointer;
}

.right-side{
	width : 260px;
	background-color:#eaeaea;
}

#right-menu-table{
	font-family:NanumSquare;
	border-spacing:0px 3px;
	height:100%;
}

.member-name-td{
	font-size:17px;
}

.member-email-td{
	font-size:15px;
}

#last-empty-tr{
	height:350px;
}

#tab-content-td{
	width:100%;
	background-color:#272a33;
	color:white;
	vertical-align:top;
}

.tab-td{
	cursor:pointer;
	color:white;
	background-color:#59738e;
	font-size:15px;
	padding:7px;
	border-bottom-left-radius: 10px;
}

#tab1-td{
	background-color:#5996cf;
}

#tab1-div {
	display:block;
	margin : 10px;
}

#member-label{
	color:#ff7263;
	font-size : 30px;
	margin-top : 30px;
}

#member-cnt-label{
	color : #10c5a2;
	font-size : 25px;
	margin-top : 15px;
	margin-bottom : 25px;
}

.is-online{
	margin-left : 10px;
	font-size : 13px;
	color:red;
}

#right-member-ul{
	list-style:none;
	margin:0;
	padding:0;
}

.right-profile-table{
	margin-left:10px;
}

.profile-img-td div{
	width:60px;
	height:60px;
	overflow:hidden;
	border-radius:50%;
}

.profile-img-td div img{
	width:100%;
	height:auto;
}

#tab2-div {
	display:none;
	margin : 10px;
}

#tab3-div {
	display:none;
	margin : 10px;
}

#worklist-label{
	color : #ff7263;
	font-size : 30px;
	margin-top : 30px;
}

#work-cnt-label{
	color : #10c5a2;
	font-size : 25px;
	margin-top : 15px;
	margin-bottom : 25px;
}

#work-order-criteria select{
	font-family : NanumSquare;
	font-size:12px;
	height : 30px;
	padding: 4px;
}

#order-confirm-btn{
	width : 45px;
	height : 30px;
	background-color:#1abc9c;
	color : white;
	font-family:NanumSquare;
	border: 0;
	box-shadow:none;
	cursor : pointer;
}

#worklist-ul-div{
	margin-left : 10px;
	margin-top : 30px;
}

#worklist-ul{
	list-style: none;
	margin:0;
	padding:0;
}
/*#tab4-div {
	display:none;
}*/






