@charset "utf-8";
#schedule-menu{
	background-color:#606060;
}

#schedule-content{
	vertical-align:top;
}

#calendar{
	margin-top:20px;
	border-collapse:collapse;
	font-family:NanumSquare;
	font-size:18px;
}

#control-tr{
	background-color:#253755;
	color:white;
	text-align:center;
	height:40px;
}

#prev-month-btn{
	background-color:#253755;
	color : white;
	font-size:23px;
	border: 0;
	box-shadow:none;
	cursor : pointer;
}
#next-month-btn{
	background-color:#253755;
	color : white;
	font-size:23px;
	border: 0;
	box-shadow:none;
	cursor : pointer;
}
/*#show-cal-btn{
	width:70px;
	height:30px;
	background-color:#76828d;
	color : white;
	font-size:13px;
	border: 0;
	box-shadow:none;
	cursor : pointer;
	border-radius:7px;
}
#show-list-btn{
	width:70px;
	height:30px;
	background-color:#76828d;
	color : white;
	font-size:13px;
	border: 0;
	box-shadow:none;
	cursor : pointer;
	border-radius:7px;
}*/

.day-char{
	width:120px;
	text-align:center;
	background-color:#4472c4;
	color:white;
	height:25px;
}
.sunday{
	color:red;
}
.saturday{
	color:blue;
}
.today{
	border:2px #253755 dashed;
}
.days-tr{
	height:90px;
	vertical-align:top;
	text-align:right;
}

#follow{
	font-family:NanumSquare;
	font-size:16px;
	padding:10px;
	color:white;
	background-color:#253755;
	border-radius:20px;
}

#add-schedule-form{
	font-family:NanumSquare;
	font-size:17px;
	margin:30px;
	border:2px #4472c4 solid;
	padding: 20px;
	/*display:inline-block;*/
	display:none;
}

#add-schedule-form div{
	margin-bottom:10px;
}

#worker-select{
	padding:5px;
	width:90px;
	margin-left:35px;
	height:38px;
	font-size:17px;
	font-family:NanumSquare;
	font-size:17px;
}

#color-span{
	margin-left:30px
}

#color{
	padding:5px;
	width: 95px;
	text-align:center;
	margin-left:5px;
	height:38px;
	font-family:NanumSquare;
	font-size:17px;
}

#from{
	width: 170px;
	text-align:center;
	margin-left:20px;
	margin-right:5px;
}
#to{
	width: 170px;
	text-align:center;
	margin-left:5px;
}

#job{
	margin-left:20px;
	width:385px;
	height:25px;
}

/*#add-schedule-form select{
	padding:5px;
	font-family:NanumSquare;
	font-size:17px;
	margin-left:34px;
	width:100px;
	height:38px;
	text-align:center;
}*/

#add-schedule-form input{
	font-family:NanumSquare;
	font-size:17px;
	padding:5px;
}

#add-schedule-btn{
	float:right;
	width:90px;
	height:35px;
	background-color:#4472c4;
	color : white;
	font-size:12px;
	border: 0;
	box-shadow:none;
	cursor : pointer;
	border-radius:7px;
}

